#This is a sample env file for the Pulsar project
#To run your own instance, simply fill in the fields below and rename this file to "secret.env"
#IMPORTANT: DO NOT SHARE THE CONTENTS OF THIS FILE OR YOU RISK HAVING YOUR BOT HIJACKED AND YOUR SERVERS NUKED!
BOT_TOKEN=
INDEV_TOKEN=
PORT=
CLIENT_SECRET=
REDIRECT_URI=
ANTIDOX_TEST_STRING=