<% /*
    footer.ejs
    Footer Template for the Pulsar Web Service
    Copyright (C) 2020 The Pulsar Project
*/ %>

<div class="ps-footer fixed-bottom">
	<img src="/img/pulsar-icon.jpg" />
	<p class="copy-text">
		Pulsar <%- process.env.npm_package_version %><br/>
        Copyright (C) 2020 The Pulsar Project. Licensed under the LGPL-3.0 license.<br/>
	</p>
</div>