<% /*
	header-min.ejs
	Simplified Header template for the Pulsar Web Service which doesn't rely on data from Discord
	Copyright (C) 2020 The Pulsar Project
*/ %>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">Pulsar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#minimalNavbar" aria-controls="minimalNavbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="minimalNavbar"></div>
</nav>

<%- include('header-basic') %>